#intro {
    background-image: url(../assets/Background_Intro.png);
    background-repeat: no-repeat;
    height: 750px;  
    width: 100%;
    background-size: cover;
    display: grid;
    place-items: center;
    text-align: center;
}

header {
   margin-top: 120px;
}

header img {
    margin-bottom: 56px;
}

header h1 {
    margin-bottom: 20px;
}

header h2 {
    margin-bottom: 8px;
}

.flex {
    display: flex;
    justify-content: center;
}

h2 {
    font: var(--subtitle);
    color: var(--gray-500);
}

h2 span {
    color: var(--red);
}

h1 {
    font: var(--title-lg);
    color: var(--gray-600);
}

p {
    font: var(--text-sm); 
    color: var(--gray-400);
}

.tag {
    background-color: var(--gray-300);
    border-radius: 50px;
    padding: 0 16px;
    display: flex;
    align-items: center;
}

.tag span {
    font: var(--text-md);
    color: var(--gray-500);
}

#tags {
    height: 40px;
    display: flex;
    gap: 16px;
    justify-items: center;
}

#tags img {
    margin-right: 8px;
}

i {
    width: 32px;
    height: auto;
    color: var(--gray-400);
}