
nav header {
    margin-top: 72px;
    display: grid;
    justify-items: center;
}

nav header p {
    font: var(--subtitle);
    color: var(--red);
}

h2 {
    font: var(--title-md);
    color: var(--gray-600);
}

.card {
    background-color: var(--gray-300);
    border-radius: 12px;
    width: 330px;
    height: 280px;  
    margin-top: 56px;
}

.card:hover {
    border: 1.5px solid #878EA1;
}


.card img {
    width: 306px;
    height: auto;
    border-radius: 8px;
    
    margin: 12px 12px auto 12px;
}

.card h3 {
    font: var(--title-sm);
    color: var(--gray-600);
    margin: 20px 16px auto 16px;
}

.card p {
    font: var(--text-sm);
    color: var(--gray-500);
    margin: 8px 16px auto 16px;
}

#projects {
    display: grid;
    grid-template-columns: repeat(3, 330px);
    gap: 24px;
    justify-content: center;
    margin-bottom: 144px;
}